.navbar {
  padding: 0%;
}

.difuzeTitle {
  font-size: 20px;
  font-weight: 700;
}

.mainmenu a,
.navbar-default .navbar-nav > li > a,
.mainmenu ul li a,
.navbar-nav .nav-link {
  font-size: 13px;
  text-transform: capitalize;
  padding: 9px 9px 0px 0px;
  font-family: "Roboto", sans-serif;
  display: block !important;
}

.mainmenu .active a,
.mainmenu .active a:focus,
.mainmenu .active a:hover,
.mainmenu li a:hover,
.mainmenu li a:focus,
.navbar-default .navbar-nav > .show > a,
.navbar-default .navbar-nav > .show > a:focus,
.navbar-default .navbar-nav > .show > a:hover {
  color: black;
  outline: 0;
}

.top-level-menu {
  list-style: none;
  padding-left: 10px;
  margin-top: 10px;
}

.top-level-menu > li {
  position: relative;
  float: left;
  font-weight: 500;
  padding-left: 15px;
}

.top-level-menu li:hover > ul {
  /* On hover, display the next level's menu */
  display: inline-block;
}

/* Menu Link Styles */

.top-level-menu a /* Apply to all links inside the multi-level menu */
 {
  text-decoration: none;
  padding: 0 0 0 0px;

  /* Make the link cover the entire list item-container */
  display: inline-block;
}

.second-level-menu {
  position: absolute;
  top: 25px;
  left: 15px;
  width: 200px;
  list-style: none;
  padding: 0px;
  margin: 0;
  display: none;
  border: 1px solid #d0d0d0;
  border-radius: 5px;
  background-color: white;
}

.second-level-menu > li {
  position: relative;
  height: 35px;
  background: white;
  padding-bottom: 6px;
  padding-top: 6px;
  font-weight: 500;
}

.second-level-menu1 {
  padding: 0px;
}

.referrenceOnHover {
  color: gray;
}

.referrenceOnHover:hover {
  background: #eee;
  height: 25px;
  color: black;
}

.third-level-menu {
  position: absolute;
  top: 0px;
  right: -151px;
  width: 150px;
  list-style: none;
  padding: 0;
  display: none;
  border: 1px solid #d0d0d0;
  border-radius: 5px;
  background-color: white;
}

.third-level-menu > li {
  position: relative;
  padding-top: 2px;
  height: 30px;
  background: white;
}

.third-level-menu1 {
  padding: 0;
}

.container {
  max-width: 100%;
}

nav .container {
  width: 100%;
}

#caretRightIcon {
  float: right;
}
