<nav id="menu_area" style="background-color: #f8f8f8; border-bottom: 1px solid #d0d0d0; padding: -15px; font-weight: 500; font-size: smaller;">
	<div class="container">
		<div class="row">
			<nav class="navbar navbar-light navbar-expand mainmenu lg-new">
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="top-level-menu">
						<li *ngFor="let dashboardMenu of dashboardMainMenu; let j = index">
							<div class="top-level-menu1" style="display: -webkit-inline-box">
								<a href="{{ dashboardMenu.url ? dashboardMenu.url : '#' }}" target="{{ dashboardMenu.url ? '_blankl' : null }}" *ngIf="dashboardMenu.Visible == 'true'"
								 class="referrenceOnHover">
									{{ dashboardMenu.applicationName }}
									<i class="fa fa-caret-down" aria-hidden="true" *ngIf="dashboardMenu.icon"
                      style="padding-left: 8px"></i>
                  </a>
                </div>

                <ul class="second-level-menu" *ngIf="menuArr[j]">
                  <li *ngFor="let dashboardMenuArr of menuArr[j]">
                    <div class="second-level-menu1">
                      <a href="{{dashboardMenuArr.url ? dashboardMenuArr.url : '#'}}" 
                          target="{{ dashboardMenuArr.url ? '_blankl' : null }}"
                          *ngIf="dashboardMenuArr.Visible == 'true'" class="referrenceOnHover" style="padding-left:10px;">
                        {{ dashboardMenuArr.applicationName }}
                        <i class="fa fa-caret-right" *ngIf="dashboardMenuArr.subMenuIcon" id="caretRightIcon"
                          aria-hidden="true"></i>
                      </a>
                    </div>

                    <ul class="third-level-menu" *ngIf="dashboardMenuArr.subchild != 0">
                      <li *ngFor="let dashboardSubMenuArr of dashboardMenuArr.subchild">
                        <div class="third-level-menu1">
                          <a target="_blank" href="{{ dashboardSubMenuArr.url }}"
                            *ngIf="dashboardSubMenuArr.applicationName" class="referrenceOnHover"
                            style="padding-left:20px; ">
                            {{ dashboardSubMenuArr.applicationName }}
                          </a>
                        </div>
                      </li>
                    </ul>
                  </li>
                </ul>
                <span *ngIf="j <= sep">
                  <label *ngIf="dashboardMenu.child!=null">
                    |
                  </label>

                  <label *ngIf="dashboardMenu.child==null">
                    |
                  </label>
                </span>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </nav>