<div>

  <!-- Header -->
	<nav id="menu_area" style="background-color: #f8f8f8; border-bottom: 1px solid #d0d0d0;">
		<div style="padding: 7px; text-align: center;     font-weight: 500;">
			Dynamic Navigation Bar (Using Json)
		</div>
	</nav>

  <!-- Navigation Bar -->
	<nav id="menu_area" style="background-color: #f8f8f8; border-bottom: 1px solid #d0d0d0; padding: -15px;">
		<div class="container">
			<div class="row">
				<nav class="navbar navbar-light navbar-expand mainmenu lg-new">

					<div class="collapse navbar-collapse" id="navbarSupportedContent" *ngFor="let dashboardMenu of dashboardMainMenu; let j = index">
						<ul class="top-level-menu" *ngIf="dashboardMenu.Visible == 'true'">
							<li>

								<div class="top-level-menu1" style="display: -webkit-inline-box; padding-bottom: 6px;">
									<a href="{{ dashboardMenu.url ? dashboardMenu.url : 'javascript:;' }}" target="{{ dashboardMenu.url ? '_blank' : null }}"
									 *ngIf="dashboardMenu.Visible == 'true'" class="referrenceOnHoverTopMenu">
										{{ dashboardMenu.applicationName }}
										<i class="fa fa-caret-down"  aria-hidden="true" *ngIf="dashboardMenu.icon" style="padding-left: 8px" ></i>
                  </a>
                </div>

                <ul class="second-level-menu" *ngIf="menuArr[j]">
                  <div *ngFor="let dashboardMenuArr of menuArr[j]">
                    <li  class="dropright" *ngIf="dashboardMenuArr.Visible == 'true'" >

                      <div class="second-level-menu1">
                        <a  href="{{ dashboardMenuArr.url ? dashboardMenuArr.url : 'javascript:;' }}" target="{{ dashboardMenuArr.url ? '_blank' : null }}" class="referrenceOnHover" style="padding-left:10px; padding-bottom: 5px;padding-top: 5px; height: 30px;" >
                          {{ dashboardMenuArr.applicationName }}
                          <i class="fa fa-caret-right" *ngIf="dashboardMenuArr.subMenuIcon" id="caretRightIcon" aria-hidden="true" ></i>
                        </a>
                      </div>

                      <ul  class="third-level-menu" *ngIf="dashboardMenuArr.subchild != 0 " >
                        <li *ngFor=" let dashboardSubMenuArr of dashboardMenuArr.subchild " >
                          <div class="third-level-menu1" *ngIf="dashboardSubMenuArr.Visible == 'true'">
                            <a target="_blank"  href="{{ dashboardSubMenuArr.url }}" *ngIf="dashboardSubMenuArr.applicationName"  class="referrenceOnHover"  style="padding-left:20px; padding-bottom: 0px;padding-top: 5px; height: 30px;"  >
                              {{ dashboardSubMenuArr.applicationName }}
                            </a>
                          </div>
                        </li>
                      </ul>

                    </li>
                  </div>
                </ul>

                <label >| </label>

              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </nav>

</div>

<!-- Action -->
<div style="padding: 10px; margin-top: 100px;">
  <table style="width: 100%; padding: 10px;">
    <tr>
      <td width="22%">
        <div style="min-height: 20%; max-height: 200px; overflow-y: scroll;">
          <ul class="list-group" *ngFor="let x of AppPermissions">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              {{x}}
              <button type="button" class="btn btn-danger btn-sm" (click)="OnRemove(x)">
                Remove
              </button>
            </li>
          </ul>
        </div>
      </td>

      <td width="10%"></td>

      <td width="60%">
        <div>
          <b>Note:</b>

          <ul style="list-style-type: none;">
            <li>UI is designed in such a way that,</li>
            <li>Each menu items will have its own permissions and</li>
            <li>Each menu items will display based on their permissions.</li>
          </ul>
        </div>

        <div>
          <b>Third Party Tools Used:</b>

          <ol>
            <li>font-awesome 4.7.0</li>
            <li>bootstrap 4.3.1</li>
          </ol>
        </div>
      </td>
    </tr>
  </table>
</div>